body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50%, #857f7f, #201f1f 50%, #746969 75%, #413f3f 75%);
}
.mainContainer {
    display: flex;
    flex-flow: column wrap;
    margin-top: 200px;
    width: 55vh;
    height: 65vh;
    border: solid black 3px;
    border-radius: 10%;
    background-color: darkolivegreen;
    align-items: center;
}
.display {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    width: 85%;
    height: 15%;
    border: solid brown 5px;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.visuals {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 85%;
    padding-right: 5%;
    border: solid darkslategrey 2px;
    background-color: darkcyan;
    color: black;
    font-size: 100%;
    font-weight: bold;
    justify-content: end;
    align-items: center;
}
.buttonCase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 65%;
    height: 57%;
    padding: 5% 10%;
    margin-top: 5%;
    border: solid black;
    border-radius: 5px;
    background-color: burlywood;
    gap: 20px;
}
button{
    display: flex;
    flex: 1 0 auto;
    border: solid black 3px;
    border-radius: 10px;
    background-color: brown;
    text-align: center;
    justify-content: center;
    width: 20%;
    height: 13%;
    font-size: 25px;
    font-weight: bold;
}
button:hover{
    background-color: darkred;
    color: darkgray;
  }
.clear,
.operator,
.percent,
.changeSign,
.ac,
.decimalPoint{
    display: flex;
    flex: 1 0 auto;
    border: solid black 3px;
    border-radius: 10px;
    background-color: rgb(210, 93, 34);
    text-align: center;
    justify-content: center;
    width: 20%;
    height: 13%;
    font-size: 25px;
    font-weight: bold;
}
.clear:hover,
.operator:hover,
.percent:hover,
.changeSign:hover,
.ac:hover,
.decimalPoint:hover{
    background-color: rgb(138, 60, 5);
    color: darkgray;
}
.equals{
    background-color: rgb(25, 145, 23);
}
.equals:hover{
    background-color: rgb(81, 206, 32);
    color: black;
}